<?php

require_once __DIR__.'/vendor/dgncan/init/src/functions.php';

return  [
    'application-name'=>'example-project',
    'update-assets'=>
    [
        // example 
        'Update adminlte-minimal'=>[
            'vendor'=>'/vendor/dgncan/adminlte-minimal',
            'public'=>'/public/adminlte',
            'files' => [
                '/dist/css/AdminLTE.min.css',
                '/dist/css/skins/_all-skins.min.css',
            ]
        ]
    ],
    'update-tasks'=>
    [
        'Sample dummy process'=>
            function () {
                echo "sample dummy processed\n";
            }
    ],
    'update-http-conf'=>
    [
        'confPath'=> [
            'local'=>'.', // for example: /usr/local/httpd_docs/conf/
            'test'=>'/work/test/conf/',
            'preprod'=>'/work/preprod/conf/',
            'prod'=>'/work/prod/conf/'
        ]
    ],
    'prod-ini-file' => '',
    'permission' =>
    [
        'chown'=>'www.www',
        'chmod'=>'755'
    ]
];
